html {
    background-color: #222;
}

body {
    padding: 2em;
}

h2 {
    text-align: center;
    color: #eee;
    font-size: 72px;
}

#score {
    text-align: center;
    color: #eee;
    font-size: 32px;
    padding: 1em;
    font-weight: bold;
    letter-spacing: 6px;
    opacity: 0.75;
}

.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
    padding: 4em;
    margin: 0 auto;
    border: grey solid thick;
    border-radius: 2em;
}

.grid div {
    background-repeat: no-repeat;
    background-size: contain;
    height: 68px;
    width: 68px;
    margin: 2px;
    border: white solid 1px;
    border-radius: 2em;
    background-color: white;
    opacity: 0.5;
}
