@font-face {
    font-family: 'devinne-swash';
    src: url('../fonts/DevinneSwash.ttf');
}

@font-face {
    font-family: 'devinne-swash-shadow';
    src: url('../fonts/DevinneSwashShadow.ttf');
}

html {
    background-color: #222;
}

body {
    padding: 4em;
    background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 5em 5em;
}

h2 {
    text-align: center;
    color: #eee;
    font-size: 72px;
    margin: 0 auto;
    margin-bottom: 1em;
    font-family: devinne-swash-shadow;
}

#score {
    text-align: center;
    color: #eee;
    font-size: 32px;
    padding: 1em;
    font-weight: bold;
    letter-spacing: 6px;
    opacity: 0.95;
    width: 50%;
    margin: 0 auto;
    background: #222;
    padding: 1em;
    border: white solid 2px;
    border-radius: 1em;
    margin-bottom: 1em;
}

.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
    padding: 4em;
    margin: 0 auto;
    border: grey solid thick;
    border-radius: 2em;
}

.grid div {
    background-repeat: no-repeat;
    background-size: contain;
    height: 68px;
    width: 68px;
    margin: 2px;
    border: white solid 1px;
    border-radius: 2em;
    background-color: white;
    opacity: 0.5;
    filter: saturate(0.5);
}
