h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#score {
    text-align: center;
}

.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
    padding: 4em;
    margin: 0 auto;
}

.grid div {
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 70px;
    margin: 2px;
}
